.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.pulse-animation {
  animation: pulse 1s infinite;
}

.about-section {
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease-in-out; /* Animation for the reveal */
}

.about-section.fade-in-active {
  opacity: 1; /* Fully visible when in view */
}

/* Remove the hidden class */
.about-section.hidden {
  /* Instead of display: none, we can set visibility or keep it for alternative usage */
  visibility: hidden; /* Ensure hidden sections are not visible, but still occupy space */
  opacity: 0; /* Make sure opacity is set to 0 */
}

/* Define keyframes for dropdown enter and exit animations */
@keyframes dropdown-enter {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes dropdown-exit {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(-10px);
  }
}

/* Apply the animations to the dropdown */
.dropdown-enter {
  animation: dropdown-enter 0.3s ease forwards;
}

.dropdown-exit {
  animation: dropdown-exit 0.3s ease forwards;
}

@keyframes flash {
  0% {
      background-color: #1f2937; /* Background color when inactive */
      transform: scale(1);
  }
  50% {
      background-color: #3b82f6; /* Highlight color */
      transform: scale(1.05);
  }
  100% {
      background-color: #1f2937; /* Background color when inactive */
      transform: scale(1);
  }
}

.flashing {
  animation: flash 0.5s infinite;
}